.contact {
  width: 100%;
  height: fit-content;
  /* padding-top: 50px; */
  /* fallin-rain: using tailwind class "scroll-mt-20" instead */
}

.contact-head {
  width: auto;
  margin: auto;
  font-size: 5rem !important;
  margin-bottom: 2rem;
  color: #e6e6e6;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 95px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

.contact-middle-section {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.contact-email-section {
  width: 50%;
}

.contact-us {
  margin: 4rem auto;
}

.contacts .contacts-item h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff;
}

.contacts .contacts-item a:hover {
  color: #0b74bf;
}

.contact-email-section {
  margin-top: 1.5rem;
}

.contacts .contacts-item a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-email-section .email-us h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.03em;
  color: #0b74bf;
}

.contact-email-section a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-email-section a:hover {
  color: #0b74bf;
}

.contact-us .contacts {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.contacts-item a {
  text-decoration: none;
}

.follow-us {
  margin-top: 1rem;
}

.follow-us h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #0b74bf;
}

.follow-us .platforms a:hover {
  color: #0b74bf;
}

.maps {
  border-radius: 24px;
}

.email-us h3,
.contact-us h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  /* identical to box height */
  letter-spacing: 0.03em;

  color: #ffffff;
}

.contact-us h3 {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.03em;
  color: #0b74bf;
}

.platforms {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.platforms a {
  margin: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (min-width: 820px) {
  .maps-mob-iframe {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
  .follow-us {
    margin-top: 0rem;
  }

  .contact-email-section {
    margin-top: 50px;
  }

  .contact {
    height: auto;
  }

  .contact-head {
    margin-bottom: 50px;
    font-size: 60px !important;
    line-height: 75px;
  }

  .contact-us .contacts {
    display: block;
    justify-content: space-between;
  }

  .contact-us {
    margin-top: 50px;
    width: 312px;
  }

  .contacts .contacts-item h5 {
    margin-top: 15px;
  }

  .contact-us .contacts .contacts-item a {
    font-size: 22px;
    line-height: 17px;
  }

  .contact-head-6 {
    font-size: 14px;
    line-height: 17px;
  }

  .email-us {
    margin-top: -50px;
    width: 312px;
  }

  .email-us h3 {
    margin-bottom: 15px;
  }

  .email-us a {
    font-size: 22px;
    line-height: 17px;
  }

  .google-maps {
    display: none;
  }

  .maps-mob-iframe {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: auto;
    border-radius: 20px;
  }

  .contact-middle-section {
    flex-direction: column;
  }

  .follow-us h2 {
    margin-left: 13px;
    margin-top: -30px;
    margin-bottom: 0px;
    text-align: start;
  }

  .contact-us h3 {
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 43px;
  }

  .platforms {
    margin-left: 8px;
    margin-bottom: 0rem;
    justify-content: start;
  }
}
